<p>This is where you see your followers and following and your feed</p>

<div class="container-userinfo">

<h1>Your Profile</h1>
<% if @user.image.present? %>
<div class="circle-img">
<%= image_tag @user.image %>
</div>
<% end %>

<h3><%= @user.name %></h3>
<h3><%= @user.email %></h3>

<h2>Your feed</h2>
<% @posts.each do |post| %>
<p><%= post.content %></p>
<% end %>
</div>
<!--
<section class="stats">
     render 'shared/stats'
    </section>
   render 'follow_form' if logged_in? %>
 -->



</div>
