
<%= form_tag("/posts") do %>

        <input name="content" placeholder="I am going to cook...">
        <input name="image" placeholder="htpp://....">

        <!-- <input type="submit" value="submit" class="btn btn-primary"> -->
        <button type="submit" value="submit" class="btn btn-primary">Foodiee</button>


<% end %>
