

<div class="top">
<h1>Welcome to Recipeet</h1>
<p>Post your favorite food and get people to follow your feed</p>
<%= render "shared/signup" %>
<a href="/users/new">Do not have an account yet ?</a>


</div>
