

<ul>
  <li>Title: <%= @post.title %></li>
  <li>Content: <%= @post.content %></li>


</ul>

<%= link_to 'Edit Post', edit_post_path(@post) %>
<%= link_to "Delete #{ @post.title }", @post, :method => 'delete' %>
