@import "bootstrap";

/* reset */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
}


.top-container {
  background-color: orange;
  height:80px;
  display:flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  line-height: 6;
  color:ghostwhite;
}

a {
  text-decoration: none;
  color:black;
  padding-left: 20px;
  padding-right:10px;

}
