

/* reset */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
}


.top-container {
  background-color: rgb(29,161,242);
  height:65px;
  display:flex;
  justify-content: flex-end;
  font-size: 10px;
  color:ghostwhite
}

.top-container a {
  color:ghostwhite;
  margin-right: 20px;
  font-size: 17px;
  line-height:4;
}

li {
  list-style: none;
  line-height: 6;
}

a {
  text-decoration: none;
  color:black;
  padding-left: 20px;
  padding-right:10px;

}

.top-main {
  height:200px;
  background-image: url('cooking.jpg');
  background-size: cover;
}
