@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* reset */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto Slab", 'Hiragino Sans', sans-serif;
}

body.home.homepage {
  background-image: url("recipe.jpg");
  background-size: cover;
}


.top {
  text-align: center;
  margin-left: 550px;
  // background-image: url("cooking.jpg");
}

.top p {
  font-size: 18px;
  margin-bottom: 100px;
}

.top a {
  color:dodgerblue;
  text-decoration: underline;
}



.top-container {
  background-color: #ffc04c;
  height:65px;
  display:flex;
  justify-content: flex-end;
  font-size: 12px;
  color:ghostwhite
}

.top-container a {
  color:ghostwhite;
  margin-right: 20px;
  font-size: 17px;
  line-height:4;
}

li {
  list-style: none;
  line-height: 6;
}

a {
  text-decoration: none;
  color:black;
  padding-left: 20px;
  padding-right:10px;

}

h1 {
  margin-top: 100px;
  text-align: center;
  font-weight: 600;
}

.signup {
  margin: 0 auto;
  text-align: center;
}

.footer {
  hegith: 300px;
  background-color: darkorange;
}
