// @import "bootstrap"

body {
    font-size: 10px;

}
.card, .posts-form {
  margin:0 auto;
  text-align: center;
  margin-top: 40px;
  font-size: 15px;

}

.card img {
  max-height:100%;
}

.bio-container{

text-align: center;
}
