// @import "bootstrap"

body.posts.index {
    background-image:url("index1.jpg");
    background-size: cover;

}


.card, .posts-form {
  margin:0 auto;
  text-align: center;
  margin-top: 40px;
  font-size: 15px;

}

.card img {
  max-height:100%;
}

.bio-container{

text-align: center;
}

.like-btn {
  color: #8899a6;
}

.form-container-input{
  text-align: center;
  margin-top: 20px;
}
