// @import "bootstrap"

body {
    font-size: 10px;

}
.card, .posts-form {
  margin:0 auto;
  text-align: center;
  margin-top: 40px;
  font-size: 15px;

}

.card img {
  max-height:100%;
}

.bio-container{

text-align: center;
}

.like-btn {
  color: #8899a6;
}

// .like-btn-unlikeのcolorを「#ff2581」にしてください
.like-btn-unlike {
  color: #ff2581;
}

// ここに指定されたCSSを貼り付けてください
.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}
