.container-bio {
  text-align: center;
}

.container-users {
  text-align: center;
}

.signup {
  text-align: center;
}

.container-userinfo {
  text-align: center;
}

.circle-img img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
}
