.container-bio {
  text-align: center;
  padding:20px;
}

.container-users {
  text-align: center;
}



.signup {
  text-align: center;
}

.container-userinfo {
  text-align: center;
  margin-top: 72px;
}

.circle-img img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
}

button a{
  color: white;

}

.bio-container{
  margin-top: 80px;
}

body.users.new {
  background-image: url("recipe.jpg");
  background-size: cover;
}

body.session.new {
  background-image: url("recipe.jpg");
  background-size: cover;
}

.stats {
  margin-left: 233px;
  margin-bottom: 31px;
}
